@import from '../../scss/_variables.scss';

.orange {
  path {
    fill: $orange !important;
  }
}
.orange {
  path {
    fill: #ffffff !important;
  }
}
.black {
  path {
    fill: #2c2c2c !important;
  }
}
